EDGE_RPC_URL=http://203.91.76.159:18545
EDGE_CHAIN_ID=302612
EDGE_DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
EDGE_NETWORK_NAME=polygon-edge-external
# EDGE_INITIAL_OPERATOR=0xYourOperatorAddress
